@charset "UTF-8";
#head{
  width: 100%;
  text-align:center;
  margin:0 auto;
  height:100px
}

#main {
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  margin:20px 0px;
  height:680px;
}

#foot{
  width: 100%;
  text-align:center;
  margin:10px 0px 0px;
  background-color: #B8DA92;
  color: #FBFDFC;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li{
  padding: 5px 70px;
}


ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
  font-size:20px;
}

a:hover {
  color: orange;
}


p{
	font-size: 20px;
}

.logo {
  margin: 0 auto;
  padding: 10px 20px;
  display: inline-block;
}

ul{
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;
}
ul li{
display: table-cell;
min-width: 50px;
}
ul li a{
display: block;
width: 100%;
padding: 10px 0;
text-decoration: none;
color: #555;
font-weight: bold;
}
ul li.current{
background-color: #DEEBF7;
}
ul li.current a{
color: #555;
}
ul li:hover{
background-color: #FFF2CC;
}

.herf{
	font-size:20px;

}

