@charset "UTF-8";
#head{
  width: 100%;
  text-align:center;
  border: solid 1px #ddff00;
    background-color:#B8DA92;
    margin:0 auto;
}

#main {
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  margin:20px 0px;
  border: solid 1px #ddff00;
  background-color:#B8DA92;
}


#foot{
  width: 100%;
  text-align:center;
  margin:10px 0px 0px;
  border: solid 1px #ddff00;
  background-color: #B8DA92;
  color: #FBFDFC;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li{
  padding: 5px 70px;
}


ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
  font-size:20px;
}

a:hover {
  color: orange;
}

p{
	font-size: 20px;
}

.logo {
  margin: 0 auto;
  padding: 10px 20px;
  display: inline-block;
}

nav {
	display: inline-block;
	width:80%;
	height:120px;
}

