@charset "UTF-8";
.chart-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #eeeeee;
}
.chart-wrap .chart-title {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;
}
.chart-wrap .row {
  position: relative;
  height: 26px;
  margin-bottom: 15px;
}
.chart-wrap .bar-wrap {
  position: relative;
  background: #d7dbde;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.chart-wrap .bar-wrap .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(45deg, #7fc3ff, #6bb6ff);
  transition: all 1s;
  transform: translateX(-100%);
}
.chart-wrap .bar-wrap .bar.in {
  transform: translateX(0%);
}
.chart-wrap .bar {
  transition: 1s 400ms;
}
.chart-wrap .bar {
  transition: 1s 600ms;
}
.chart-wrap .bar {
  transition: 1s 800ms;
}
.chart-wrap .bar {
  transition: 1s 1000ms;
}
.chart-wrap .bar {
  transition: 1s 1200ms;
}
.chart-wrap .bar {
  transition: 1s 1400ms;
}
.chart-wrap .bar {
  transition: 1s 1600ms;
}
.chart-wrap .label {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10px;
  text-align: left;
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 10;
}
.chart-wrap .number {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: right;
  z-index: 10;
}
@media screen and (min-width: 800px) {
  .chart-wrap .row {
    padding: 0 40px 0 160px;
  }
  .chart-wrap .label {
    text-align: right;
    padding-left: 10px;
  }
  .chart-wrap .number {
    text-align: left;
    padding-right: 0;
  }
  .chart-wrap .row {
    padding: 0 50px 0 100px;
}
}

@media screen and (max-width: 480px) {
.chart-wrap .number {
    width: 45px;
    padding-right: 5px;
}
}