@charset "UTF-8";

body{
	background:#B8DA92;
}


.header-logo{
	padding:30px 50px;
	color:#FBFDFC;
	float:center;
}


li{
	list-style:none;
	float:left;
	color:#FBFDFC;
	border-bottom:2px solid #FBFDFC;
}

.contentsR{
	color:#296337;
	width:500px;
	margin:5em;
	border:solid 2px;
	background-color:#FBFDFC;
}

.contentsB{
	color:#296337;
}
