@charset "UTF-8";

body{
	background:#B8DA92;
	align-content: stretch;
}

.contentsR{
	color:#296337;
	width: 550px;
	height: 250px;
	margin:5em;
	border:solid 2px;
	background-color:#FBFDFC;
	position: fixed; /* 要素の位置を固定する */
	top: 20px; /* 基準の位置を画面の上に指定する */
	left: 0; /* 基準の位置を画面の左に指定する */

}

.contentsB{
	overflow-y: scroll;
	color:#296337;
	width: 550px;
	height: 250px;
	margin:5em;
	border:solid 2px;
	background-color:#FBFDFC;
	position: fixed; /* 要素の位置を固定する */
	bottom: 0; /* 基準の位置を画面の下に指定する */
	left: 0; /* 基準の位置を画面の左に指定する */
}

.contentsA{
	background: #FBFDFC url(/newReacQ/images/Q.png) no-repeat center;
	color:#296337;
	margin:5em;
	border:solid 2px;
	position: fixed;
	top: 20px; /* 基準の位置を画面の上に指定する */
	right: 0; /* 基準の位置を画面の右に指定する */
	bottom: 0;
	width: 30%; /* 幅を指定する */
}

.conA{
	height: 100%;
	background: rgba(255,255,255,0.8);
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}