@charset "UTF-8";

body{
     background:#B8DA92;
	align-content: stretch;
}

/*受講者リアクション*/
.box04{
  width: 40%;
  height: 600px;
  margin: 20px;
  padding: 15px;
  border: solid 1px #ddff00;
  background:#FBFDFC
}
/*受講者アカウント*/
.box05{
  width: 40%;
  height: 600px;
  margin: 20px;
  padding: 15px;
  border: solid 1px #ddff00;
  background:#FBFDFC;

  background: #FBFDFC url(/newReacQ/images/Q.png) no-repeat center;
}


/*受講者掲示板*/
.contentView {
	overflow-y: scroll;
	color:#296337;
	/*width: 100%;*/
	height: 300px;
	/*margin:80px;*/
	/*border:solid 2px;*/
	background-color:#FBFDFC;
	/*position: fixed;*/ /* 要素の位置を固定する */
	/*bottom: 0;*/ /* 基準の位置を画面の下に指定する */
	/*left: 80px;*/ /* 基準の位置を画面の左に指定する */
}



/*講師リアクション*/
.box06{
  width: 40%;
  height: 600px;
  margin: 20px;
  padding: 15px;
  border: solid 1px #ddff00;
  background:#FBFDFC
}
/*講師アカウント*/
.box07{
  width: 40%;
  height: 600px;
  margin: 20px;
  padding: 15px;
  border: solid 1px #ddff00;
  background:#FBFDFC;
  background: #FBFDFC url(/newReacQ/images/Q.png) no-repeat center;
}



/*アカウントデザイン*/
.conA{
	height: 600px;
	background: rgba(255,255,255,0.8);
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*更新ボタンデザイン*/
.button:hover {
  opacity       : 1;           /* カーソル時透明度 */
}

/*リアクション文字デザイン*/
.ria{
	font-size:15px;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FF6F00;
	text-shadow:
		0 0.01em 0 #999,
		0 0.02em 0 #888,
		0 0.03em 0 #777,
		0 0.04em 0 #666,
		0 0.05em 0 #555,
		0 0.06em 0 #444,
		0 0.08em 0 #000;
}

/*リアクション数字デザイン*/
.size{
	font-size:20pt;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFAB91;
	text-shadow: 0.02em 0.02em 0.02em rgba(0,0,0,1);
}

/*アカウント管理 左寄せ*/
.name{
	text-align:left;
}

h2 {
	position: relative;
	padding: 0 .5em .5em 2em;
}

h2::before,
h2::after {
	position: absolute;
	content: '';
	border-radius: 100%
}
h2::before {
	top: .2em;
	left: .2em;
	width: 18px;
	height: 18px;
	background-color: rgba(255,90,95,.5);
	z-index: 2;
}
h2::after {
	top: .7em;
	left: .7em;
	width: 13px;
	height: 13px;
	background-color: rgba(255,90,95,.2);
}

.reply{
	font-size:11px;
	color:#808080;

}

button {
  padding: 0;
  border: none;
  background: transparent;
    border: none;  /* 枠線を消す */
}

button img {
  display: block;
  margin:0px 3px;
  cursor: pointer;
}